<div class="shadow p-3 bg-white text-dark">
    <ul class="sidebar-nav list-group">
      {% if user.is_authenticated %}
        <li class="list-group-item">
            <strong>User: </strong>
            <a href="{{ user.get_absolute_url }}" class="username"> {{ user.get_username }} </a>
        <a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-outline-dark btm-sm logout">Logout</a>
        </li>
      {% else %}
        <li class="list-group-item">
            <a href="{% url 'login'%}?next={{request.path}}" class="text-secondary font-weight-bolder">Login</a>
        </li>
      {% endif %}

      <br>

      <div class="list-group">
          <a href="{% url 'taxi:index' %}" class="btn btn-outline-dark"><strong>Home</strong></a>
          <br>
          <a href="{% url 'taxi:driver-list' %}" class="btn btn-outline-dark"><strong>Drivers</strong></a>
          <br>
          <a href="{% url 'taxi:car-list' %}" class="btn btn-outline-dark"><strong>Cars</strong></a>
          <br>
          <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-outline-dark"><strong>Manufacturers</strong></a>
      </div>
    </ul>
</div>

